
<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:#649ad1 !important;">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="LoggedIn">
          <a class="nav-link" (click)="Logout()" routerLink="/">Logout</a>
        </li>
        <li class="nav-item" *ngIf="LoggedIn && isuser">
          <a class="nav-link" routerLink="/userLanding" >User Home</a>
        </li>

      </ul>
      <div class="d-flex ms-auto">
        <i class="pi pi-bell p-mr-4 p-text-secondary me-4" pBadge style="font-size: 2rem" value={{notificationcount}}></i>

        <h5 style="color: black;">{{username}}</h5>
      </div>
    </div>
  </div>
</nav>


<router-outlet></router-outlet>
